<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="app"></div>
    <!-- webpack builds are automatically injected -->
    <script>
    var webFrame = require('electron').webFrame;
    webFrame.setZoomLevelLimits(1, 1);
    </script>
  </body>
</html>
